
html, body {
  padding: 0 0 0 0;
  margin: 0;
  font-family: 'helvetica', 'arial', 'sans';
  background-color: black;
}

body {
  height: 100%;
}

h1,h2,h3,h4 {
  font-family: 'helvetica', 'arial', 'sans';
}

a, p, figcaption {
  color: #fff;
}

.header .title-wrap {
  background-color: black;
  border-radius: 42px;
  position: relative;
  top: 30px;
  left: -50px;
}

.header {
  color: #fff;
  margin: 30px 30px 30px 30px;
  background-image: url("triangles.jpg");
  background-size: cover;
  height: 250px;
  min-width: 340px;
}

.header h1 {
  font-size: 50px;
  color: #B452CD;
  padding: 10px;
  position: relative;
  left: 50px;
}

.about-me img {
  display: block;
  margin: 0 auto;
  padding: 5px;
  border: 3px solid black;
  background-color: #fff;
}

.about-me {
  padding-left: 30px;
}

.assignments {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.assignment {
  font-size: 12px;
  line-height: 24px;
  font-family: 'helvetica', 'arial', 'sans';
  padding: 20px 20px 20px 30px;
  display: flex;
  flex-direction: column;
}

.assignment a {
    color: #fff;
    text-decoration: none;
}

.assignment a:hover h2 {
  color: #B452CD;
  text-decoration: none;
}

.assignment a:hover img {
  background-color: #B452CD;
}

.assignment img {
  padding: 5px;
  border: 2px solid black;
  height: 300px;
  background-color: #fff;
}

.assignment p {
  display: flex;
  justify-content: center;
}

.assignment-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.assignment-content h2 {
  color: #fff;
  padding-left: 20px;
}

.assignment-content p {
  padding: 0 40px;
}

.assignment-content img,
.assignment-content iframe {
  border: 5px solid #B452CD;
  margin: 0 auto;
  width: 400px;
}

.assignment-content p a img {
  width: 100px;
}

.footer {
    float: left;
    padding: 300px 0px 30px 30px;
}

.widebody {
    width: 800px;
    padding: 0px 30px 30px 30px;
}

.widebody a:hover {
  background: #B452CD;
  color: #FFF;
  text-decoration: none;
}

